{% extends "base.html" %}
{% block content %}
<h2 class="mb-3">Productos</h2>
<form class="row g-2 mb-4" method="post" action="{{ url_for('productos_nuevo') }}">
  <div class="col-2"><input required name="CODT" placeholder="CODT" class="form-control"></div>
  <div class="col-4"><input name="NOMB" placeholder="Nombre" class="form-control"></div>
  <div class="col-2"><input name="UNID" placeholder="Unidad" class="form-control"></div>
  <div class="col-2"><input type="number" step="0.01" name="PREC" placeholder="Precio" class="form-control"></div>
  <div class="col-2"><button class="btn btn-primary">Agregar</button></div>
</form>

<table class="table table-striped">
  <thead><tr><th>CODT</th><th>Nombre</th><th>Unidad</th><th>Precio</th></tr></thead>
  <tbody>
  {% for r in rows %}
    <tr><td>{{ r.CODT }}</td><td>{{ r.NOMB }}</td><td>{{ r.UNID }}</td><td>S/ {{ '%.2f'|format(r.PREC) }}</td></tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
